# 数据库连接配置 (MySQL)
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_database_password
MYSQL_DATABASE=anime_track

# AI 配置 (DeepSeek)
DEEPSEEK_API_KEY=your_api_key

# NextAuth 配置 (身份验证)
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=p0is0n_i_v_y_a_n_i_m_e_t_r_a_c_k

